body{
	background:black;
	font-size:8pt;
	font-family:Verdana;
	margin:0;
	padding:0;
	text-align:center;
}
.banner{
	background-image: url("bgtop.png");
	height:50px;
	width:100%;
	text-align:center;
}
.pos{
	justify-content: center;
	display:flex;
	flex-wrap:wrap;
}
.pos1{
	width:50px;
	bottom:-300px;

}
.pos2{
	margin-left:150px;
	margin-right:150px;
}

.backup{
	box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 1px -21px 50px 25px rgba(0,0,0,0);

	box-shadow: 1px -21px 50px 25px #04047F;
}
.pos3{
	display:flex;
	float:right;
	flex-direction:column;
	position: absolute;
	bottom: 200px;
    right: 400px;
}
.pos4{
	display:flex;
	float:left;
	flex-direction:column;
	position: absolute;
	bottom: 200px;
    left: 500px;
}

.flame{
	width:100px;
	height:100px;
	background:linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform:rotate(-135deg);
	animation:.1s flame infinite;
	filter:blur(10px);
	position:relative;
	box-shadow:17px 20px 90px #700;
	border:45px solid black;
	border-left-width:25px;
	border-top-width:25px;
	
	&:after,
	&:before{
		content:'';
		width:60px;
		height:60px;
		display:block;
		position:absolute;
		background:linear-gradient(-45deg, red, orange);
		animation:.2s flame infinite;
		transform:scale(.8) rotate(20deg);
		border-radius: 60px 60px 0px 60px;
		top:20px;
	}
	&:before{
		top:0;
		animation-duration:.09s;
		transform:scale(.9) rotate(-15deg) translate(10px, 0px);
	}
}

@keyframes flame{
  0% {height:100px; width:100px;}
  50% {height:90px; width:90px;}
  100% {height:100px; width:100px;}
}

.clear:after{
    clear:both;
    content:"";
    display: table;
}